* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: #58402c;
}

a {
  text-decoration: none;
}

.btn-logo {
  width: 20px;
  margin-right: 5px;
}

.btns {
  margin-bottom: 30px;
}

.btns .sect-btn {
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  background-color: #30488f;
  font-size: 14px;
  color: #fff;
}

.btns span {
  color: #bdb5af;
  margin: 0 10px;
}

.btns a {
  font-size: 14px;
}

.btns a:hover {
  color: #30488f;
}

.btns a:hover i {
  color: #30488f;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 95%;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #BDB5AF;
}

nav .header-logo a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 20px;
  color: #30488f;
}

nav #logo {
  width: 25px;
  margin-right: 10px;
}

nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
}

nav ul li {
  margin-left: 30px;
}

nav ul a:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

nav ul a:first-child #arrow {
  width: 20px;
  margin-left: 5px;
}

nav #header-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #30488f;
  background-color: #fff;
  font-weight: bold;
  color: #30488f;
}

nav #header-btn:hover {
  background-color: #30488f;
  color: #fff;
  cursor: pointer;
}

#section-2,
#section-3,
#section-8 {
  background-color: #ffe7d2;
}

#section-4,
#section-5,
#section-6,
#section-7 {
  display: -webkit-box;
  display: flex;
  padding: 80px 0;
}

#section-4 .left,
#section-4 .right,
#section-5 .left,
#section-5 .right,
#section-6 .left,
#section-6 .right,
#section-7 .left,
#section-7 .right {
  width: 50%;
}

#section-4 .left img,
#section-4 .right img,
#section-5 .left img,
#section-5 .right img,
#section-6 .left img,
#section-6 .right img,
#section-7 .left img,
#section-7 .right img {
  width: 100%;
}

#section-4 .mid-sect,
#section-5 .mid-sect,
#section-6 .mid-sect,
#section-7 .mid-sect {
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#section-4 .mid-sect h3,
#section-4 .mid-sect p,
#section-4 .mid-sect a,
#section-5 .mid-sect h3,
#section-5 .mid-sect p,
#section-5 .mid-sect a,
#section-6 .mid-sect h3,
#section-6 .mid-sect p,
#section-6 .mid-sect a,
#section-7 .mid-sect h3,
#section-7 .mid-sect p,
#section-7 .mid-sect a {
  margin-bottom: 30px;
}

#section-4 .mid-sect h3,
#section-5 .mid-sect h3,
#section-6 .mid-sect h3,
#section-7 .mid-sect h3 {
  font-size: 26px;
}

#section-4 .mid-sect p,
#section-4 .mid-sect a,
#section-5 .mid-sect p,
#section-5 .mid-sect a,
#section-6 .mid-sect p,
#section-6 .mid-sect a,
#section-7 .mid-sect p,
#section-7 .mid-sect a {
  font-size: 22px;
}

#section-4 .mid-sect .mid-sect-img,
#section-5 .mid-sect .mid-sect-img,
#section-6 .mid-sect .mid-sect-img,
#section-7 .mid-sect .mid-sect-img {
  text-align: center;
}

#section-4 .mid-sect .mid-sect-img img,
#section-5 .mid-sect .mid-sect-img img,
#section-6 .mid-sect .mid-sect-img img,
#section-7 .mid-sect .mid-sect-img img {
  width: 200px;
}

#section-4 .mid-sect,
#section-6 .mid-sect {
  margin-left: 30px;
}

#section-5 .mid-sect,
#section-7 .mid-sect {
  float: right;
}

#section-4 a:hover,
#section-5 a:hover,
#section-6 a:hover,
#section-7 a:hover,
#section-8 a:hover {
  color: #30488f;
}

#section-4 a:hover i,
#section-5 a:hover i,
#section-6 a:hover i,
#section-7 a:hover i,
#section-8 a:hover i {
  color: #30488f;
}

#section-1 {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-box;
  display: flex;
}

#section-1 .sect_1-left {
  width: 50%;
}

#section-1 .sect_1-left h1 {
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#section-1 .sect_1-left p {
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#section-1 .sect_1-right {
  width: 50%;
}

#section-1 .sect_1-right img {
  width: 100%;
}

#section-2 {
  padding: 80px 0;
}

#section-2 .sect_2-cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  border-bottom: 1px solid #BDB5AF;
  text-align: center;
}

#section-2 .sect_2-cont h2 {
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 80px;
  max-width: 500px;
}

#section-2 .sect_2-cont .sect_2-cols {
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: baseline;
          align-items: baseline;
  margin-bottom: 80px;
}

#section-2 .sect_2-cont .sect_2-cols .col {
  width: 200px;
  text-align: center;
}

#section-2 .sect_2-cont .sect_2-cols .col img {
  height: 100px;
  margin-bottom: 30px;
}

#section-2 .sect_2-cont .before {
  text-align: center;
  margin-bottom: 80px;
}

#section-2 .sect_2-cont .before img {
  width: 250px;
}

#section-3 {
  padding: 80px 0;
}

#section-3 .sect_3-cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

#section-3 .sect_3-cont h2 {
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 80px;
  max-width: 500px;
}

#section-3 .sect_3-cont .sect_3-cols {
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: baseline;
          align-items: baseline;
  margin-bottom: 80px;
}

#section-3 .sect_3-cont .sect_3-cols .col {
  width: 200px;
  text-align: center;
}

#section-3 .sect_3-cont .sect_3-cols .col img {
  height: 100px;
  margin-bottom: 30px;
}

#section-3 .sect_3-cont .after {
  text-align: center;
  margin-bottom: 80px;
}

#section-3 .sect_3-cont .after img {
  width: 250px;
}

#section-3 .sect_3-cont span {
  font-size: 26px;
  font-weight: bold;
}

#section-8 {
  padding: 80px 0;
}

#section-8 .sect_8-cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

#section-8 .sect_8-cont h2 {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  max-width: 500px;
  margin-bottom: 40px;
}

#section-8 .sect_8-cont #sect_8-title-img {
  width: 40px;
}

#section-8 .sect_8-cont .sect_8-box {
  max-width: 600px;
  padding: 30px;
  margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #bdb5af;
  border-radius: 5px;
}

#section-8 .sect_8-cont .sect_8-box p {
  margin-bottom: 30px;
}

#section-8 .sect_8-cont .sect_8-box .ids {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#section-8 .sect_8-cont .sect_8-box .ids .photos img {
  margin-right: 10px;
  width: 50px;
}

#section-8 .sect_8-cont .sect_8-box .ids .capts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#section-8 .sect_8-cont .sect_8-box .ids .capts #names {
  font-size: 14px;
  color: #30488f;
}

#section-8 .sect_8-cont .sect_8-box .ids .capts #titles {
  font-size: 12px;
}

#section-8 .sect_8-cont a {
  font-size: 14px;
}

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
}

footer .left-footer {
  width: 35%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}

footer .left-footer #footer-logo {
  width: 50px;
  margin-right: 20px;
}

footer .left-footer #capt-link {
  color: #30488f;
  font-weight: bold;
}

footer .left-footer #caption {
  font-size: 18px;
  font-weight: bold;
}

footer .right-footer {
  width: 65%;
}

footer .right-footer #foot-ul {
  display: -webkit-box;
  display: flex;
}

footer .right-footer #foot-ul li {
  margin-left: 30px;
}

footer .right-footer .col li {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

footer .right-footer .col li a:hover {
  color: #30488f;
}

footer .right-footer .col li a:hover i {
  color: #30488f;
}

footer .right-footer .col li:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

