* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: #58402c;
}

a {
  text-decoration: none;
}

.btn-logo {
  width: 20px;
  margin-right: 5px;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 95%;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #BDB5AF;
}

nav .header-logo a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 20px;
  color: #30488f;
}

nav #logo {
  width: 25px;
  margin-right: 10px;
}

nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
}

nav ul li {
  margin-left: 30px;
}

nav ul a:first-child {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

nav ul a:first-child #arrow {
  width: 20px;
  margin-left: 5px;
}

nav #header-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #30488f;
  background-color: #fff;
  font-weight: bold;
  color: #30488f;
}

nav #header-btn:hover {
  background-color: #30488f;
  color: #fff;
  cursor: pointer;
}

#section-2,
#section-3,
#section-8 {
  background-color: #ffe7d2;
}

#section-1 {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-box;
  display: flex;
}

#section-1 .sect_1-left {
  width: 50%;
}

#section-1 .sect_1-left h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

#section-1 .sect_1-left p {
  font-size: 22px;
  margin-bottom: 30px;
}

#section-1 .sect_1-left .sect_1-btns {
  margin-bottom: 30px;
}

#section-1 .sect_1-left .sect-btn {
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  background-color: #30488f;
  font-size: 14px;
  color: #fff;
}

#section-1 .sect_1-left span {
  color: #bdb5af;
  margin: 0 10px;
}

#section-1 .sect_1-left a {
  font-size: 14px;
}

#section-1 .sect_1-left a:hover {
  color: #30488f;
}

#section-1 .sect_1-left a:hover i {
  color: #30488f;
}

#section-1 .sect_1-right {
  width: 50%;
}

#section-1 .sect_1-right img {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
}

footer .left-footer {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}

footer .left-footer #footer-logo {
  width: 50px;
  margin-right: 20px;
}

footer .left-footer #capt-link {
  color: #30488f;
  font-weight: bold;
}

footer .left-footer #caption {
  font-size: 18px;
  font-weight: bold;
}

footer .right-footer {
  width: 70%;
}

footer .right-footer #foot-ul {
  display: -webkit-box;
  display: flex;
}

footer .right-footer #foot-ul li {
  margin-left: 30px;
}

footer .right-footer .col li {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

footer .right-footer .col li a:hover {
  color: #30488f;
}

footer .right-footer .col li a:hover i {
  color: #30488f;
}

footer .right-footer .col li:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

