#section-1 {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;

  .sect_1-left {
    width: 50%;

    h1 {
      font-size: 50px;
      line-height: 65px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    p {
      font-size: 22px;
      line-height: 35px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
  }

  .sect_1-right {
    width: 50%;

    img {
      width: 100%;
    }
  }

}