#section-1 {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;

  .sect_1-left {
    width: 50%;

    h1 {
      font-size: 50px;
      line-height: 65px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    p {
      font-size: 22px;
      line-height: 35px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    .sect_1-btns {
      margin-bottom: 30px;
    }

    .sect-btn {
      border: none;
      border-radius: 10px;
      padding: 8px 15px;
      background-color: #30488f;
      font-size: 14px;
      color: #fff;
    }

    span {
      color: #bdb5af;
      margin: 0 10px;
    }

    a {
      font-size: 14px;

      &:hover {
        color: #30488f;

        i {
          color: #30488f;
        }
      }
    }
  }

  .sect_1-right {
    width: 50%;

    img {
      width: 100%;
    }
  }

}