* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: $text-color;
}

a {
  text-decoration: none;
}

.btn-logo {
  width: 20px;
  margin-right: 5px;
}

.btns {
  margin-bottom: 30px;

  .sect-btn {
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    background-color: #30488f;
    font-size: 14px;
    color: #fff;
  }

  span {
    color: #bdb5af;
    margin: 0 10px;
  }

  a {
    font-size: 14px;

    &:hover {
      color: #30488f;

      i {
        color: #30488f;
      }
    }
  }
}